<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>OT4</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">
                
                OT 4
            </a>
        <!--
            <a href="/maakunnat" id="pirkanmaa">Pirkanmaa</a>
            <a href="/maakunnat" id="etelä-pohjanmaa">Etelä-Pohjanmaa</a>
            <a href="/maakunnat"id="Pohjois-Pohjanmaa">Pohjois-Pohjanmaa</a>
            <a href="/maakunnat"id="Etelä-Pohjanmaa">Etelä-Pohjanmaa</a>
            <a href="/maakunnat"id="Pohjanmaa">Pohjanmaa</a>
            <a href="/maakunnat"id="Päijät-Häme">Päijät-Häme</a>
            <a href="/maakunnat"id="Uusimaa">Uusimaa</a>
            <a href="/maakunnat"id="Varsinais-Suomi">Varsinais-Suomi</a>
            <a href="/maakunnat"id="Ahvenanmaa">Ahvenanmaa</a>
            <a href="/maakunnat"id="Pohjois-Savo">Pohjois-Savo</a>
            <a href="/maakunnat"id="Etelä-Savo">Etelä-Savo</a>
            <a href="/maakunnat"id="Lappi">Lappi</a>
            <a href="/maakunnat"id="Satakunta">Satakunta</a>
            <a href="/maakunnat"id="Kanta-Häme">Kanta-Häme</a>
            <a href="/maakunnat"id="Keski-pohjanmaa">Keski-pohjanmaa</a>
            <a href="/maakunnat"id="Keski-Suomi">Keski-Suomi</a>
            <a href="/maakunnat"id="Kanta-Häme">Kanta-Häme</a>
            <a href="/maakunnat"id="Kainuu">Kainuu</a>
            <a href="/maakunnat"id="Pirkanmaa">Pirkanmaa</a>
            <a href="/maakunnat"id="Kymenlaakso">Kymenlaakso</a>
            <a href="/maakunnat"id="Pohjois-Karjala">Pohjois-Karjala</a>
            <a href="/maakunnat"id="Etelä-Karjala">Etelä-Karjala</a>
            <a href="/maakunnat"id="Kymenmaa">Kymenmaa</a>
        -->

        </div>
    </nav>

    <div class="container">
