<div class="container">

<h1 class="mt-3">Demo 1: Angular-perusteita</h1>

<h2>a. "Hello world"</h2>

<input [(ngModel)]="nimi" type="text" class="form-control" placeholder="Anna nimesi">

<button class="btn btn-primary mt-3" (click)="sanoHeippa()">Sano heippa!</button>

<div class="alert alert-success mt-3" *ngIf="tervehdys">
    {{tervehdys}}
</div>

<h2>b. Eurot muihin valuuttoihin</h2>

<input [(ngModel)]="eurot" type="number" class="form-control col-2 mb-2">

<div class="alert alert-success mt-3">
    {{eurot}}€ = {{ (eurot * 1.12432) | currency : 'USD'}} = {{ (eurot * 0.8987) | currency : 'GBP'}}
</div>


<h2>c. Ostoslista</h2>

Ostoksia yhteensä {{ ostoksiaYhteensa() }}

<ul class="list-group">
<li class="list-group-item" *ngFor="let ostos of ostokset">
  {{ ostos }}
</li>
</ul>

<div class="input-group">
  <input [(ngModel)]="ostos" class="form-control" type="text" placeholder="Kirjoita ostos...">
  <button (click)="lisaaOstos()" class="btn btn-primary">Lisää listaan</button>


</div>
</div>