<!--Incule... Siistimpi tapa hoitaa koodia. Nämä koodit on linkitetty index.ejs:ään includeilla-->

<label class="checkbox-inline ml-3 mt-2">

                            <!--Tämä ylin rivi jättää korttien valinnat muistiin hakunapin painamisen jälkeen.-->
                            <% if(lomaketiedot.luottokorttityyppi && lomaketiedot.luottokorttityyppi.indexOf(luottokorttiArvo) > -1) { %>

                            <input type="checkbox" name="luottokorttityyppi" value="<%=luottokorttiArvo%>" style="margin:10px;" checked>

                            <% } else { %>

                            <input type="checkbox" name="luottokorttityyppi" value="<%=luottokorttiArvo%>" style="margin:10px;">

                            <% } %>

                            <%=luottokorttiTeksti%>

                        </label>