<!--Incule... Siistimpi tapa hoitaa koodia. N채m채 koodit on linkitetty index.ejs:채채n includeilla-->

<label class="radio-inline ml-3 mt-2">

                            
                            <% if(lomaketiedot.sukupuoli == sukupuoli) { %>

                            <input type="radio" name="sukupuoli" value="<%=sukupuoli%>" style="margin:10px;" checked>

                            <% } else { %>

                            <input type="radio" name="sukupuoli" value="<%=sukupuoli%>" style="margin:10px;">

                            <% } %>

                            <%=sukupuoli%>

                        </label>